<h2>Checker Board</h2>
<button id="rotate_clicked" onclick="rotatethis()">ROTATE</button>
   <img id="checkerboard" class="checkerbox box" ondrop="drop(event)" ondragover="allowDrop(event)" />
<script type="text/javascript" src="~/Scripts/checkerbox.js"></script>