@page
<link href="~/css/Checkerboard.css" rel="stylesheet" />
@model CheckerBoardModel
@{
    ViewData["Title"] = "CheckerBoard";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>CheckerBoard</h2>
<div style="display: inline-block">
    <input type="checkbox" class="hiddenCheckBox" />
    <div id="imgPanel" class="panel">
        <img id="checkerboard" class="checkerbox box" ondrop="drop(event)" ondragover="allowDrop(event)" />
        <img src="~/favicon.ico" class="over-img" />
    </div>
</div>
