@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="checkerBox">
    <p class="row">
        <button onclick="location.href='/CheckerBoard'">Checker Board</button>
    </p>
</div>
